body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.signup-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3); /* Transparent white background */
    padding: 20px;
    border-radius: 10px; /* Rounded corners for the box */
    margin-top: 20px; /* Add some space between the heading and the box */
}

.signup-heading {
    font-size: 36px; /* Larger font size */
    color: white; /* White text color */
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-size: 18px;
    color: white; /* White text color */
}

.form-submit {
    font-size: 18px;
    color: white; /* White text color */
    background-color: #007BFF; /* Blue button background color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.back-link {
    font-size: 18px;
    color: white; /* White text color */
    text-decoration: none; /* Remove underlines */
}

.back-link:hover {
    text-decoration: underline; /* Add underline on hover */
}